.main__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2px;
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 20px;
}

.grid__item {
  display: block;
  animation: blur 600ms ease;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.grid__item::before {
  content: "";
  background: rgba(255, 255, 255, 0.486);
  inset: 0;
  z-index: -1;
  position: absolute;
}

.item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 500ms ease-out;
}

.item__image:hover {
  transform: scale(1.05);
}

.grid__item.hide {
  display: none;
}

@media (max-width: 900px) {
  .main__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes blur {
  0% {
    filter: blur(1vh);
  }
  100% {
    filter: blur(0);
  }
}
