:root {
  --light-theme-bg: white;
  --light-theme-text-color: #151320;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--light-theme-bg);
  -webkit--transfrom: scale(1);
  -ms--transfrom: scale(1);
  transform: scale(1);
}
